* {
    margin: 0;
    padding: 0;
    font-family: "SpotifyMixUI", CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    ;
}

body {
    background-color: black;
    color: white;
}

:root {
    --a: 0
}

.left {
    width: 25vw;
    padding: 10px;
}

.close {
    display: none;
}

.home ul li {
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.library {
    min-height: 80vh;
    position: relative;
}

.libraryHeading {
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.libraryHeading img {
    width: 30px;
}

.songlist {
    height: 650px;
    overflow: auto;
    margin-bottom: 44px;
}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    cursor: pointer;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    font-weight: 500;
}

.songlist ul li img {
    width: 24px;
}

.songlist .info {
    width: 344px;
    font-size: 13px;
}

.playnow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.leftFooter ul {
    display: flex;
    font-size: 15px;
    color: grey;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.leftFooter a {
    color: grey;
    text-decoration: none;
}

.right {
    width: 75vw;
    margin: 15px;
    position: relative;
}

.rightHeader {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.rightHeader>* {
    padding: 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    border: none;
    font-size: 16px;
    color: rgb(135, 126, 126);
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.signupbtn:hover {
    color: #1DB954;
    font-size: 20px;
}

.loginbtn {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 21px;
    padding: 10px;
    width: 79px;
    font-size: 18px;
    font-weight: bold;
}

.loginbtn:hover {
    background-color: #1DB954;
}

.musicBarPlaylists {
    padding: 16px;
}

.musicBarPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 65vh;
    overflow-y: auto;
    margin: 30px;
}

.card {
    width: 200px;
    background-color: rgb(41, 40, 40);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.8s;
    position: relative;
}

.card:hover {
    background-color: black;
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    height: 230px;
}

.playButton {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 17px;
    bottom: 88px;
    opacity: var(--a);
    transition: all 0.8s ease-in;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    position: fixed;
    background-color: #1DB954;
    border-radius: 10px;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}

.playbar:hover {
    background-color: #25964d;
}

.seekbar {
    height: 4px;
    width: 98%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    cursor: pointer;
    margin: 6px;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
    cursor: pointer;
}

.infobar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.infobar div {
    word-break: break-all;
}

.songinfo {
    color: black;
    padding: 0 10px;
    width: 250px;
}

.songbuttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songtime {
    width: 125px;
    padding: 0 12px;
    color: black;
    font-weight: 1000;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .left {
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .left .close {
        display: block;
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .hamburger {
        display: block;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .card {
        width: 55vw;
    }

    .playbar {
        width: calc(100vw - 75px);
        right: 25px;
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .infobar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
}

@media (max-width: 500px) {
    .left {
        width: 100vw;
    }

    .library {
        height: 85vh;
    }

    .rightHeader {
        padding: 7px;
    }

    .rightHeader>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .musicbarPlaylists h1 {
        padding: 4px;
    }

    .card {
        width: 100%;
    }
}